body {
	background-color: #fcdf07;
	color:042bea ;
`	font-size: 120%;
	font-family: 'Open Sans Condensed', sans-serif;
	text-align; center;
fonnt-weight; bold;
}
{
font-size: 120%;
text-align; center;
}
img {
	display: block;
	margin: auto;
	width: 200px;
	height: auto


}

#subtitle{
   
}


.top paragraphs
{
	color:02fc0a ;
}
